<h1><b>Editing </b></h1>
<%= form_with(model: @tweet) do |form| %>
 

<%= render "form" %>  

<% end %>

<br>

<div>
  <%= link_to "Show this tweet", @tweet %> |
  <%= link_to "Back to tweets", tweets_path %>
</div>
